header{
.logo {
    height: 120px;
    cursor: pointer;
    align-items: center;
}
.navbar{
    background-color: black;
    font-family: "Garet";
}
}
.form {
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    .form .h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 40px;
}
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family: "Garet";
    background-color: antiquewhite;}
textarea {
    height: 200px;
    width: 100%;
    resize: none;
    font-family: "Garet";
    background-color: antiquewhite;
}
.submit {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: "Garet";
    margin-bottom: 0;
}

.submit:hover {
    cursor: pointer;
}

.main-contacto{
    .main-contact,h2{text-align: center;
    font-family: "Garet";
    font-size:normal; 
}
    .main-contact, p{
    text-align: center;
    font-family: "Garet";
    font-size:normal;
    
}  
}
footer{
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    .fa:hover {
    opacity: 1.0;
   }
  }
  
  
  
  
  
  .fa-whatsapp {
    background: hsl(106, 83%, 68%);
    color: white;
  }
  
  
  .fa-instagram {
    background: hsl(306, 95%, 74%);
    color: white;
  }
#iconoFooter
{
    font-size: 60px;
}
}

.img-container{
        text-align: center;
        font-family: "Garet";

    }
.card-container{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        & .card{
            width: 330px;
            height: 430px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(255, 231, 245, 0.838);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.35s;
            background-color: #111;
            &  img {
                height: 250px;
                width: auto;}
            & p {
                    padding: 0 1rem;
                    font-family: "Garet";
                    font-size: 16px;
                    font-weight: 300;
                    text-align: justify;
                    color: aliceblue;    

            
           

        }
           

    }
    }